.box {
  background-color: white;
  width: 100%;
  max-width: 700px;
  min-height: 300px;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 100px;
  transform: translate3d(-50%, 0, 0);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.list  {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
